<meta name="description" content="Heeft u vragen of interesse in één van de sieraden of accessoires van Willu? Of wilt u uw eigen ontwerp gerealiseerd zien? U mag altijd bellen of e-mailen!">
<meta name="keywords" content="sieraden, jewels, jewelry, zilver, goud, ringen, armbanden, willu, leer, accessoires, tassen, horlogebanden, portemonnee, leerbewerken, eigentijds, handwerk">
<meta name="author" content="metatags generator">
<meta name="robots" content="index, follow">
<meta name="revisit-after" content="21 days">
<title>Willu – Neem contact op met Willu!</title>
<!-- sieraad, accessoires, leer -->