<meta name="description" content="Bij Willu staat handwerk centraal. Hier kunt u te recht voor handgemaakte sieraden en accessoires. Er wordt gewerkt met onder andere zilver, goud, leer en edelstenen.">
<meta name="keywords" content="sieraden, jewels, jewelry, zilver, goud, ringen, armbanden, willu, leer, accessoires, tassen, horlogebanden, portemonnee, leerbewerken, eigentijds, handwerk">
<meta name="author" content="metatags generator">
<meta name="robots" content="index, follow">
<meta name="revisit-after" content="21 days">
<title>Willu – Handgemaakte unieke sieraden. Ringen, armbanden, colliers, kettingen, hangers.</title>
<!-- sieraad, accessoires, leer -->