<meta name="description" content="Mijn naam is Rianne Huijs en ik ben de eigenaar van Willu. Ik ben goudsmid en leerbewerker en met die kennis maak ik vele soorten sieraden en accessoires. Uniek, creatief handwerk">
<meta name="keywords" content="sieraden, jewels, jewelry, zilver, goud, ringen, armbanden, willu, leer, accessoires, tassen, horlogebanden, portemonnee, leerbewerken, eigentijds, handwerk">
<meta name="author" content="metatags generator">
<meta name="robots" content="index, follow">
<meta name="revisit-after" content="21 days">
<title>Willu - Welkom op de website van Willu!</title>
<!-- sieraad, accessoires, leer -->