<button id="addPiece" type="button">Add piece to database</button> <button id="addImg" type="button">Add image to piece</button>

<div class="databaseField" id="pieceToBeAdded">
	<table>
		<tr><td>Name: </td><td><input type="text" id="pieceName" value="Name of the piece"></td></tr>
		<tr><td>Description: </td><td><textarea rows="4" cols="50" id="pieceDesc">Description of the piece</textarea></td></tr>
		<tr><td>Date: </td><td><input type="text" id="pieceDate" value="Date you made the piece/added it"></td></tr>
		<tr><td>Thumbnail: </td><td><input type="text" id="pieceThumb" value="Url to a picture of this piece"></td></tr>
		<tr><td>Kind: </td><td><input type="text" id="pieceKind" value="Kind of object this piece is"></td></tr>
	</table>
	
	<div id="imagesToBeAdded">
		<div class="imageToBeAdded">
			<table>
				<tr><td> </td><td> </td><td>Name: </td><td><input type="text" class="imgName" value="Name of the image"></td></tr>
				<tr><td> </td><td> </td><td>Description: </td><td><textarea rows="4" cols="50" class="imgDesc">Description of the image</textarea></td></tr>
				<tr><td> </td><td> </td><td>Date: </td><td><input type="text" class="imgDate" value="Date you made the image/added it"></td></tr>
				<tr><td> </td><td> </td><td>Focus: </td><td><input type="text" class="imgFocus" value="Focus point of the image"></td></tr>
				<tr><td> </td><td> </td><td>Url: </td><td><input type="text" class="imgUrl" value="Url of the image"></td></tr>
			</table>
		</div>
	</div>
</div>
