<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<div class="adminStuff" style="margin: 0 auto;width: 80%;position: relative;min-width: 800px;padding: 20px;">
	<div class="input-group" style="width: 400px; margin: 0 auto; margin-bottom: 20px;">
		<span class="input-group-addon">Password: </span>
	  	<input type="password" class="form-control" id="pass-box">
	 	<span class="input-group-addon"><span id="lock-icon" class="glyphicon glyphicon-lock"> </span></span>
	</div>

	<div class="row new-level">
	  <div class="col-md-10">
	  	<div id="items">
	  		
	  	</div>
	  	
	  </div>
	  <div class="col-md-2">
	  	<button type="button" class="btn btn-default btn-lg btn-add-item" style="margin-bottom: 5px">Add Item</button>
	  	<button type="button" class="btn btn-default btn-lg btn-down-json" style="margin-bottom: 5px">Download JSON</button>
	  	<button type="button" class="btn btn-default btn-lg btn-up-json" style="margin-bottom: 5px">Upload JSON</button>
	  </div>
	</div>
</div>

<div class="item row new-level" style="display: none">
  <div class="col-md-9">
	<div class="row new-level">
  		<div class="col-md-4" style="height: 100px; width: 100px; padding: 0px;">
  			<img class="thumbnail-img img-rounded" src="http://lorempixel.com/100/100" alt="thumbnail" height="100" width="100">
  		</div>
  		<div class="col-md-4">
  			<p>Name: <span class="val-name"> value</span></p>
  			<p>Description: <span class="val-desc"> value</span></p>
  			<p>Kind: <span class="val-kind"> value</span></p>
  		</div>
  		<div class="col-md-4">
  			<p>Date: <span class="val-date"> value</span></p>
  			<p>Thumbnail: <span class="val-thumb"> value</span></p>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-2"> </div>
  		<div class="col-md-10 new-level images">
  			
  		</div>
  	</div>
  </div>
  <div class="col-md-3">
  	<button type="button" class="btn btn-default btn-edit" style="margin-bottom: 5px">Edit</button><br />
  	<button type="button" class="btn btn-default btn-save" style="margin-bottom: 5px">Save</button><br />
  	<button type="button" class="btn btn-default btn-del" style="margin-bottom: 5px">Delete</button><br />
  	<button type="button" class="btn btn-default btn-add" style="margin-bottom: 5px">Add Photo</button>
  </div>
</div>

<div class="row image">
	<div class="col-md-4" style="height: 100px; width: 100px; padding: 0px; padding-left: 7px;">
		<img src="http://lorempixel.com/100/100" alt="thumbnail" height="100" width="100" class="img-rounded img-thumb"/>
	</div>
	<div class="col-md-8">
		<p>Name: <span class="img-name"> value</span></p>
		<p>Description: <span class="img-desc"> value</span></p>
		<p>Url: <span class="img-url"> value</span></p>
		<p>Focus: <span class="img-focus"> value</span></p>
	</div>
</div>
<script src="@routes.Assets.at("javascripts/jquery.jeditable.js")"> </script>
<script src="@routes.Assets.at("javascripts/altadmin.js")"> </script>
