<div class="textField" style="margin: 0 auto; width: 800px;">
	
	<p style="margin-top: 0;">
	<!--<i>Er wordt nog gewerkt aan deze website.<br/>
	Om het browsen via tablet of smartphone gemakkelijker te maken.</i> <br/>-->
	<i>Ik ben op vakantie vanaf 28 juli tot 17 augustus.</i>
	<br/><br/>	
	Heeft u vragen of interesse in één van de producten?<br/>
	Of wilt u uw eigen ontwerp gerealiseerd zien?	<br/>
	U mag altijd bellen of e-mailen!<br/>
	</p>
	<p>
	<b>Email: </b><a href="mailto:info@@willu.nl" target="_top">info@@willu.nl</a> <br/>
	<b>Telnr:</b> <i>06-12598074 </i><br/>
	<b>Kvk:</b> 58779132<br/>
	<b>Btw:</b> NL2063.75.931.B01
	</p>
	<p>
	<b><a href="http://eepurl.com/UHXVv">Klik hier</a> om je te aan te melden voor de willu nieuwsbrief</b>
	</p>
	<p>
	U kunt Willu ook vinden op Facebook!<br/>
	<a href="https://www.facebook.com/Willu.nl">facebook.com/Willu.nl</a>
	</p>
	<p>
	Of koop direct via Markita!<br/>
	<a href="http://markita.nl/VND-537">willu.markita.nl</a>
	</p>
	
</div>

<script>
	$(".active").removeClass("active"); $("#cont").parent().addClass("active");
	
	resize = function(h){$(".textField").css("height",h-101+"px");}
	
	
	$("#content").css("width","100%");
	$("#content").css("top","100px");
	$("body").css("overflow","hidden");
	$(window).resize(function() {
	    resize($(window).height());
	});
	resize($(window).height());
	$(".textField").mCustomScrollbar({theme:"dark"});
</script>
