<div class="textField" style="margin: 0 auto; width: 800px;">
	
	<p style="margin-top: 0;">
	<!--<i>Er wordt nog gewerkt aan deze website.<br/>
	Om het browsen via tablet of smartphone gemakkelijker te maken.</i> <br/>-->
	Heeft u vragen of interesse in één van de producten?<br/>
	Of wilt u uw eigen ontwerp gerealiseerd zien?	<br/>
	U mag altijd bellen of e-mailen!<br/>
	</p>
	<p>
	<b>Email: </b><a href="mailto:info@@willu.nl" target="_top">info@@willu.nl</a> <br/>
	<b>Telnr:</b> <i>06-12598074 </i><br/>
	<b>Kvk:</b> 58779132<br/>
	<b>Btw:</b> NL2063.75.931.B01
	</p>
	<p>
	<b><a href="http://eepurl.com/UHXVv">Klik hier</a> om je te aan te melden voor de willu nieuwsbrief</b>
	</p>
	<p>
	Of koop direct via Markita!<br/>
	<a href="http://markita.nl/VND-537">willu.markita.nl</a>
	</p>
	<a data-pin-do="buttonFollow" href="http://www.pinterest.com/rhuijs/">Willu op Pinterest</a>

	<iframe src="//www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2Fwillu.nl&amp;width&amp;height=35&amp;colorscheme=light&amp;layout=standard&amp;show_faces=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:35px;" allowTransparency="true"></iframe>
	
</div>

<!-- Please call pinit.js only once per page -->
<script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>

<script>
	$(".active").removeClass("active"); $("#cont").parent().addClass("active");
	
	resize = function(h){$(".textField").css("height",h-101+"px");}
	
	
	$("#content").css("width","100%");
	$("#content").css("top","100px");
	$("body").css("overflow","hidden");
	$(window).resize(function() {
	    resize($(window).height());
	});
	resize($(window).height());
	$(".textField").mCustomScrollbar({theme:"dark"});
</script>
