@(pieces: List[models.Piece])

@main("Willu - Sieraden") {

    <div id="imageFrame">
        <div id="image" style="
        	background:url(@pieces.get(0).getImages().get(0).url);
        	background-size: cover;
        	opacity: 0;
        	background-position:@pieces.get(0).getImages().get(0).focus;
        	background-repeat: no-repeat">
        </div>
        <div id="standbyImage" style="background-image:url('@routes.Assets.at("images/loader.gif")');"></div>
        
        <div id="imgDesc">
        	<h1 id="descBtn">Klik hier om te openen/sluiten</h1>
        	<div id="imgMenu" class="horizontal">
        		<ul>
		        	@for(index <- 0 until 10){
		        	<li>
		        		<img src="http://lorempixel.com/60/60/">
		        	</li>	
		            }	
	            </ul>
        	</div>	
        	<p>@pieces.get(0).description</p>
        </div>
    </div>

    <div id="menuBar" class="vertical">
        <!--<div class="overthrow content">-->
            <ul>
                @for(index <- 0 until pieces.size){
                <li class="imageTile"><div class="menuButton" id="piece_@pieces.get(index).id"> <!--href="@pieces.get(index).id"-->
                    <img src="@pieces.get(index).thumbnail">
                    <span>@pieces.get(index).name</span>
                </div></li>
                }
            </ul>
        <!--</div>-->
    </div>

    <script type="text/javascript">
        var imgCont = $("#imageFrame");
        var menBar = $("#menuBar");
        var navBar = $("#navbar");
        var mainImg = $("#image");

        resize = function(ow,oh){
            var w = $(window).width() - ow;
            var h = $(window).height() - oh;
            imgCont.css("width",(w).toString() + 'px');
            imgCont.css("height",(h).toString() + 'px');
            menBar.css("height",(h).toString() + 'px');
        }
        
        getBgImg = function(bgId){      	      	
        	return $('<img>').attr('src', function () {
	            var imgUrl = bgId.css('background-image');
	            imgUrl = imgUrl.substring(4, imgUrl.length - 1);
	        	return imgUrl;
	        });
        }
        
        replaceImage = function(pieceObj,imageObj) {
        	mainImg.css('opacity', '0');
            mainImg.css('background-image', 'url(' + imageObj.url + ')');
            mainImg.css('background-position', imageObj.focus);
            
            $("#imgDesc p").text(pieceObj.desc);
            $("#imgDesc h2").text(pieceObj.name);
            
            descDown(false);

            getBgImg(mainImg).on('load',function () {
            	mainImg.css('opacity', '1');
            });
        }
        
        descDown = function(animated){
        	if(animated){
        		$("#imgDesc").animate({bottom: 0,}, 700);
        	}else{
        		$("#imgDesc").css("bottom",(-($("#imgDesc").height() - $("#descBtn").height() -5)) + "px");
        	}	
        }

        $(".menuButton").click(function(){
            var id = $(this).attr('id');
            $.getJSON("/item/"+ id.replace('piece_', ''), function(piece) {
                replaceImage(piece,piece.images[0]);            
            });
        });
        
        var bounce = false;
        $("#descBtn").click(function(){
        	if(bounce){
	        	var h = (-($("#imgDesc").height() - $("#descBtn").height() -5)) + "px";
	        	$("#imgDesc").animate({bottom: h,}, 700);
	        	bounce = false;
        	}else{
        		descDown(true);
        		bounce = true;
        	}
        });

        getBgImg(mainImg).on('load',function () {
        	mainImg.css('background-position', '@pieces.get(0).getImages().get(0).focus'.replace('=','').replace('=',''));
            mainImg.css('opacity', '1');
        });

        resize(menBar.outerWidth() , navBar.height());

        $(window).resize(function() {
            resize(menBar.outerWidth() , navBar.height());
        });

        descDown(false);
        $(".horizontal").mCustomScrollbar({horizontalScroll:true,theme: "dark"});
        $(".vertical").mCustomScrollbar({theme: "dark"});
    </script>
}
