<div class="textPage" style="position: relative;left:120px">
	<div class="textField">
		
		<p style="margin-top: 0;">
			<b>Welkom op de website van Willu!</b> 
		</p>
		<p>
			Mijn naam is Rianne Huijs en ik ben de eigenaar van Willu. 
			Ik ben goudsmid en leerbewerker en met die kennis maak ik vele soorten sieraden en accessoires. 
			Uniek, creatief handwerk vind ik belangrijk en staat daarom centraal bij Willu. 
			Met ideeën kun je altijd bij mij terecht en samen komen we tot een goed ontwerp en een goede prijs. 
			Ik heb ook een hoop eigen ontwerpen liggen die direct te koop zijn of op aanvraag kunnen worden gemaakt. 
			Nieuwsgierig naar wat ik nog heb liggen en de prijzen? Je mag altijd contact met me opnemen! 
			Wellicht ben ik ook wel binnenkort bij u in de buurt! 
			Ik sta op beurzen en geef soms een openhuis bij familie of vrienden. 
			Onder dit verhaaltje staat een lijst met activiteiten. 
			Je bent altijd van harte welkom!
		
		</p>
		
		<p style="padding-top: 3em"><b>Evenementen</b></p>
		
		<table id="eventTable">
			<tr>
				<td><b>Datum</b></td>
				<td><b>Plaats</b></td>
				<td><b>Naam Evenement</b></td>
				<td><b>Details</b></td>
			</tr>
	        <tr>
	          <td>29 September 2013</td>
	          <td>Rotterdam</td>
	          <td>Swanmarket</td>
	          <td>geweest</td>
	        </tr>
			<tr>
				<td>20 Oktober 2013</td>
				<td>Rotterdam</td>
				<td>ZOOWild festival in Diergaarde Blijdorp</td>
				<td>geweest</td>
			</tr>
			<tr>
				<td>24 November 2013</td>
				<td>Rotterdam</td>
				<td>Open huis</td>
				<td>geweest</td>
			</tr>
		</table>
	</div>
	<div style="position: fixed;right: 20em;top:125px;width: 15%;">
		<img id="ownerImage" src="http://farm8.staticflickr.com/7427/9740997296_673af9e1da.jpg" width="333" height="500" alt="Rianne Huijs">
	</div>
</div>

<script>
	$(".active").removeClass("active"); $("#willu").parent().addClass("active");
	
	resize = function(h){$(".textField").css("height",h-101+"px");}
	
	
	$("#content").css("width","100%");
	$("#content").css("top","100px");
	$("body").css("overflow","hidden");
	$(window).resize(function() {
	    resize($(window).height());
	});
	resize($(window).height());
	$(".textField").mCustomScrollbar({theme:"dark"});
</script>
